/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";
 .sort_link {
    color: black;
  }

  .round-image-50 {
     background-color: white;
     border-radius: 25px;
     -moz-border-radius: 25px;
     -webkit-border-radius: 25px;
     overflow: hidden;
     text-align: center;
     img { width: 100% }
 }

 .navbar {
   background: -webkit-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
   background:    -moz-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
   background:     -ms-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
   background:      -o-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
   background:         linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
 }

 .navbar-light .navbar-nav .nav-link {
   color: #282F2E;
 }

 #napis {
   letter-spacing: -1px;
   font-size: 1em;
   font-weight: 300;
   padding-right: 10px;
   color: #AFCDC7;
 }

 .btn-default {
   color: #282F2E;
   text-transform: uppercase;
 }
