%br
.card
  .card-body#index
    %h3.text-center.card-title=@car.full_car
    .text-center
      %img.card-img-top= image_tag @car.carpic_url :profile
    %p.text-center.card-text
      %strong Price for a day:
      =@car.price
      $
    %p.text-center.card-text
      %strong Release date:
      = @car.year.strftime("%Y")
    %p.text-center.card-text
      %strong Description:
      = @car.description
    .text-center
      .btn-group{"aria-label" => "Basic example", role: "group"}
        =link_to 'Back to all cars', cars_path, class: "btn btn-info" if policy(Car).index?
        =link_to 'Edit', edit_car_path(@car), :class => "button btn btn-primary" if policy(@car).update?
        =link_to 'Delete', car_path(@car), method: :delete, data: {confirm: "You sure?"},:class => "button btn btn-danger" if policy(@car).destroy?
