%body
  %nav.navbar.navbar-expand-lg.navbar-light.bg-default
    %ul.navbar-nav.mr-auto
      %h3=link_to 'CarRent', root_path, id: 'napis'
      =link_to 'Cars', cars_path, class: 'nav-link' if policy(Car).index?
      =link_to 'Add car to base', new_car_path, class: 'nav-link' if policy(Car).new?
    %ul.navbar-nav.ml-auto
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.username
          's account actions
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a=link_to 'Edit you account', edit_user_registration_path, class: 'dropdown-item'
          %a=link_to 'Delete your account', registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: 'dropdown-item'
          %a=link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
